.App {
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 20px;
}
.App.light {
  background-color: #f8f9fa;
  color: #343a40;
 
}

.App.dark {
  background-color:#343a40;
  color: #f8f9fa;
}

.icon-button {
  transition: transform 0.3s ease-in-out ;
}

.icon-button:hover {
  transform: scale(1.1);
}